.Trash/
.trash/
.DS_Store
**/.obsidian/*
!**/.obsidian/workspace*
!**/.obsidian/graph*

.idea
.nuxt
.temp
*.local
*.log
components.d.ts
dist
node_modules
**/.vitepress/docsMetadata.json
**/.vitepress/cache/

.netlify/functions-serve/*
