/* 参考 Vitest */
/* fix height ~ 2 lines of text: 3 or more cards per row */
.VPTeamMembersItem.small .profile .data .affiliation {
  min-height: 3rem;
}

.VPTeamMembersItem.small .profile .data .desc {
  min-height: 3rem;
}

/* fix height ~ 3 lines of text: 4 cards per row */
@media (min-width: 1064px) and (max-width: 1143px) {
  .VPTeamMembersItem.small .profile .data .affiliation {
    min-height: 4rem;
  }

  .VPTeamMembersItem.small .profile .data .desc {
    min-height: 4rem;
  }
}

/* fix height ~ 3 lines of text: 3 cards per row */
@media (min-width: 815px) and (max-width: 875px) {
  .VPTeamMembersItem.small .profile .data .affiliation {
    min-height: 4rem;
  }

  .VPTeamMembersItem.small .profile .data .desc {
    min-height: 4rem;
  }
}

/* fix height ~ 3 lines of text: 2 cards per row */
@media (max-width: 612px) {
  .VPTeamMembersItem.small .profile .data .affiliation {
    min-height: 4rem;
  }

  .VPTeamMembersItem.small .profile .data .desc {
    min-height: 4rem;
  }
}

/* fix height: one card per row */
@media (max-width: 568px) {
  .VPTeamMembersItem.small .profile .data .affiliation {
    min-height: unset;
  }

  .VPTeamMembersItem.small .profile .data .desc {
    min-height: unset;
  }
}

/* 覆盖 VPTeamMembers 组件内部处理的子元素包含特定 max-width 样式致使元素宽度与正文不一致的问题 */
.vp-doc .VPTeamMembers.small.count-2 .container,
.vp-doc .VPTeamMembers.small.count-3 .container {
  max-width: 1152px !important;
}

.VPTeamMembers.medium.count-2 .container {
  max-width: unset;
}

.VPTeamMembers.small.count-2 .container {
  max-width: unset;
}

@font-face {
  font-family: tengwarannatar;
  src: url(/tengwar-annatar-glaemscrafu.woff2) format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: block
}

@font-face {
  font-family: tengwarannatar-bold;
  src: url(/tengwar-annatar-glaemscrafu-bold.woff2) format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: block
}

.VPHomeHero > .container > .main > h1 {
  font-size: 5rem;
  font-family: 'tengwarannatar-bold';
}

.VPHomeHero > .container > .main > .text {
  padding-top: 45px;
  font-size: 4rem;
}

.VPHomeHero > .container > .main > .tagline {
  padding-top: 24px;
}

.VPFooter {
  opacity: 0.8;
}

.footer-cc-link {
  transition: all 0.3s ease;
  text-decoration: underline;
  text-decoration-color: rgb(154, 154, 154);
}

.footer-cc-link:hover {
  color: #3a3a3a;
  text-decoration-color: rgb(91, 91, 91);
}

