/* 键盘按键样式 */
kbd {
  padding: 2px 8px;
  cursor: pointer;
  user-select: none;
  position: relative;
  bottom: 0;
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI Adjusted","Segoe UI","Liberation Sans",sans-serif;
}

kbd::after {
  content: '';
  display: inline;
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background: #414141;
  box-shadow: 0 0 0px 2px #414141;
  border-radius: 4px;
  cursor: pointer;
  user-select: none;
  z-index: -1;
}

/* macOS Command 图标 */
kbd[data-keyboard-key="macos-command"]::before {
  content: "⌘";
  margin-right: 4px;
}

/* macOS Option 图标 */
kbd[data-keyboard-key="macos-option"]::before {
  content: "⌥";
  margin-right: 4px;
}

/* macOS Control 图标 */
kbd[data-keyboard-key="macos-control"]::before {
  content: "⌃";
  margin-right: 4px;
}

/* macOS Shift 图标 */
kbd[data-keyboard-key="macos-shift"]::before {
  content: "⇧";
  margin-right: 4px;
}


.internal-embed.media-embed.image-embed {
  display: flex;
  justify-content: center;
  width: 100%;
}

.internal-embed.media-embed.image-embed > img {
  max-width: 1000px;
  width: 100%;
}
